@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&family=Poppins:wght@300;400;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}


.navbar{
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    z-index: 99;
    
    filter: drop-shadow(0px -5px 5px  black);
}
header .nav{
    height: 70px;
    display: flex;
    /* box-shadow: 0px 0px 5px 1px black; Corrected box-shadow property */
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 15px 160px;
    font-size: 20px;
}
.menu ul{
    list-style:none;
    display: flex;
    font-size: 18px;
    gap: 20px;
    font-weight: 500;
}

/* Add this CSS to your existing styles */

.menu ul li a{
    text-decoration: none;
    color: black;
    /* position: relative; */
    transition: color 0.3s ease;
}

.menu ul li a:hover{
    color: blue;
    cursor: pointer;
}
.main{
    height: calc(100% - 70px);
    width: 100%;
    /* background-color: aqua; */
}
.main .back-video video{
    height: 100%;
    width: 100%;
    z-index: -10;
}
.hover-line::after{
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background-color: blue;
    transition: width .3;
}
.hover-line:hover::after
{
    width: 100%;
    transition: width .3s;
}
.main {
    position: relative;
    display: flex;
    align-items: center; /* Center content vertically */
}

.back-video {
    position: relative; /* Added position relative */
    flex: 1; /* Take remaining width */
    overflow: hidden; /* Hide any content overflowing the container */
    opacity: 0.4;
}
.back-video img{
    background-size: cover;
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.left-text {
    position: absolute; /* Position absolute */
    top: 20%;
    left:5% ;
    right: 20;
    color: #ffffff;
    width: 70%; /* Adjust the width as needed */
}

.heading {
    /* background-color: rgba(255, 255, 255, 0.7); Semi-transparent background */
    padding: 20px;
    margin: 0px 20px;
    width:100%;
    font-size: 40px;
    border-radius: 10px;
}
.heading h2{
    /* padding: 200px 40px; */

    color: #002057;
}
#sp{
    color: #FF7B00;
}
.heading p{
    font-size: 35px;
    color: #002057;
    font-weight:600 ;
}
.heading button{
    background-color: #3b1acf   ;
    padding: 10px 28px;
    font-size: 20px;
    border: none;
    box-shadow: 0px 1px 10px 0px rgb(34, 51, 238);
    

    color: #ffffff;
    font-weight: 500;
    border-radius: 50px;
    transition: all ease .3s;
}
.heading button:hover{
    background-color: #1A047E;
}
.arr{
    margin-top: 0px;
}
.media-buttons{
    display: flex;
    margin-top: 30px;
}
.media-buttons .link {
    height: 44px;
    width: 44px;
    display: flex;
    border-radius: 50%;
    margin: 0 8px;
    background-color: #4070f4;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    transition: all 0.3s ease;
    font-size: 28px;
}

.link:hover {
    transform: scale(1.2);
    animation: slideIn 2s ease;
}

/* Define the animation keyframes */
@keyframes slideIn {
    0% {
        /* padding: 0; */
        transform: scale(1);
    }
    100% {
        /* padding-bottom: 10px; */
        transform: perspective(100px) translatez(12px);
    }
}

.about {
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
  
}

/* Adjust styles for child elements within .about */
.aboutme {
    /* Add relevant styles for the about me section */
    color: #000000; /* Example text color */
    font-size: 16px; /* Example font size */
    margin-top: 8%;
    /* align-items: cente   r; */
    text-align: center;
}
.aboutme h3{
    font-size: 35px;
}
.aboutme h3 i{
    font-size: 40px;
    padding: 3px;
    margin-top:10px ;
    padding-top: 8px;
}
.aboutcontent{
    /* background-color: #4070f4; */
    display: flex;
    height: 100%;
    width: 100%;

}
.aboutcontent .left{
    /* background-color: #FF7B00; */
    height: 380px;
    width: 300px;
    position: relative;
    left: 250px;
    top: 80px;
}
.aboutcontent .right{
    /* background-color: #FF7B00; */
    height: 500px;
    width: 600px;
    
    position: relative;
    left: 350px;
    top: 80px;
    font-size: 1.3rem;
}
.aboutcontent .left img{
    height: 100%;
    border-radius: 50px;
    filter: grayscale(100%);
    box-shadow: 0px 1px 10px 0px black;
    width: 100%;
}
.aboutcontent .left img:hover{
    filter: grayscale(0%);
}
.aboutcontent .right #para1{

    padding-top: 15px;
}
.aboutcontent .right #email{
    padding-top: 15px;
}
.aboutcontent .right #place{
    padding-top: 15px;
}
.skills{
    height: 150vh;
    /* align-items: center; */
    width: 100%;
    background-color: #5404AC;
}
.skills .head{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 25px;
    font-size: 1.5rem;
    gap: 6px;
}
.skills .head .bx{
    font-size: 3.5rem;
    color: #ffffff;
}
.skills .head h2{
    font-size: 2.5rem;
    font-weight: 800;
    color: #FFE600;
}
.skills .head h2 span{
    color: #ffffff;
}
.skill-container {
    background-color: #33026C;
    height: 780px;
    margin-left: 15%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 2fr)); /* Adjust as needed */
    width: 70%;
    padding: 20px;
    margin-top: 30px;
    gap: 20px;
    border-radius: 20px;
}

.skill-container .skill-card {
    height: 130px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 150px; /* Adjust the width as needed */    
    border-radius: 20px;
    background-color: #05000B;
}
.skill-container .skill-card img{
    height: 50px;
}
.skill-container .skill-card span{
    font-size: 1.1rem;
    padding-top: 8px;

}
.typing-text{
    color: #ff4d00;
}
.right-img{
    height: 100%;
    z-index: 88;
}
.right-img img{
    position: relative;
    right: 35%;
    top: 20%;
    
    border-radius: 50%;
    width: 100%;
}
.right-img img:hover{
    box-shadow: 0px 1px 14px 0px black;
}

/* Education css */
.education{
    background-color: #E5ECFB;
    height: 90%;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.edu{
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    padding-top: 20px;
}
.edu .bx{
    font-size: 60px;
    padding-right: 10px;
}
.edu h2{
    font-size: 2.5rem;
}
.card{
    width: 70%;
    border-radius: 10px;
    display: flex;
    /* align-items: center; */
    margin-top: 30px;
    height: 32%;
    background-color: #ffffff;
    box-shadow: 0px 2px 9px 2px rgba(0, 0, 0, 0.303);
}
.img{
    width: 30%;
    height: 100%;
}
.img img{
    border-radius: 10px 0 0 10px;
    width: 100%;
    height: 100%;
}
.details{
    padding: 15px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    
}
.details h2{
    font-weight: 500;
    color: green;
}
.contact{
    width: 100%;
    height: 80%;
}
.head i{
    font-size: 60px;
}
.head{
    display: flex;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
}
.head h2{
    font-size: 2.5rem;
}
.container{
    height: 70%;
    width: 70%;
    background-color: #E5ECFB;
    display: flex;
    margin-top: 2%;
    margin-left: 15%;
    box-shadow: 0px 2px 9px 2px rgba(0, 0, 0, 0.303);
}
.img2{
    /* height: 70%; */
    width: 40%;
    /* padding: 12px 30px; */
    padding-top: 40px;
    padding-left: 40px;
}
.img2 img{
    width: 100%;
    height: 100%;
    margin-left: 10px;
}

.data{
    margin-left: 15%;
    margin-top: 20px;
}
.data input{
    width: 375px;
    height: 45px;
    padding: 7px;
    margin-top: 5px;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid black;
    color: #000000;
}
.data textarea{
    width: 375px;
    /* height: 45px; */
    padding: 7px;
    margin-top: 5px;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid black;
    color: #000000;
}

